{{ define "main" }}
<div id="sphere-container" class="z-100"></div>

<div class="min-h-screen w-full flex flex-col justify-between  pb-2 md:pb-0 xl:pb-0 2xl:pb-8">
    <div class="flex-grow flex flex-col justify-center items-center text-center"  style="padding-top: 50vh">
        <h1 class="text-white text-3xl md:text-4xl lg:text-8xl xl:text-5xl 2xl:text-8xl font-bold select-none animate-fade-down animate-duration-[1000ms]">
            Atlas Analytics Lab
        </h1>
    </div>

    <div class="flex flex-col justify-center items-center text-center px-0 xl:px-24 mb-4 2xl:mt-0">
        <h1 class="text-white text-xs md:text-2xl xl:text-base 2xl:text-2xl font-bold select-none animate-fade-down animate-duration-[1000ms]">
            Welcome to the forefront of innovation at the Atlas Analytics Lab, nestled within the vibrant community of CSSE@Concordia University in Montreal and guided by the visionary leadership of Professor Mahdi S. Hosseini. Despite our recent inception, we've rapidly blossomed into a powerhouse of talent, driven by our unwavering commitment to pushing the boundaries of AI and deep learning for healthcare applications in clinical pathology.
        </h1>
    </div>

    <div class=" mt-14 xl:mt-8 2xl:mt-8 ">
        <div class="flex flex-col justify-center items-center text-center space-y-4">
            <a class="transition transform duration-150 hover:scale-105 pointer-events-auto" href="https://www.concordia.ca/ginacody/computer-science-software-eng.html">
                <h1 class="text-white text-xs md:text-2xl xl:text-base   2xl:text-2xl hover:text-gray-300 font-bold select-none animate-fade-down animate-duration-[1000ms]">
                    Department of Computer Science and Software Engineering (CSSE)
                </h1>
            </a>
            <a class="transition transform duration-150 hover:scale-105 pointer-events-auto" href="https://www.concordia.ca/ginacody.html">
                <h1 class="text-white text-xs md:text-2xl xl:text-base   2xl:text-2xl hover:text-gray-300 font-bold select-none animate-fade-down animate-duration-[1000ms]">
                    Gina Cody School of Engineering and Computer Science Concordia University
                </h1>
            </a>
            <a class="transition transform duration-150 hover:scale-105 pointer-events-auto" href="https://www.google.com/maps/place/Concordia+University+Department+of+Computer+Science+and+Software+Engineering/@45.4964196,-73.5799907,15z/data=!4m6!3m5!1s0x4cc91b09f48e4689:0x69537a59a2bba769!8m2!3d45.4964196!4d-73.5799907!16s%2Fg%2F11rcl0fnv2?entry=ttu">
                <h1 class="text-white text-xs md:text-2xl xl:text-base  2xl:text-2xl hover:text-gray-300 font-bold select-none animate-fade-down animate-duration-[1000ms]">
                    2155 Guy St, Montreal, Quebec H3H 2L9
                </h1>
            </a>
        </div>
    </div>
</div>
<script>
    header_height = document.getElementById('header').offsetHeight;
</script>


{{ end }}
