
{{ if .IsHome }}
<div class="h-96"></div>
<div class="flex flex-col justify-center items-center text-center">
    <a class="transition transform duration-150 hover:scale-101.5 pointer-events-auto" href="https://www.concordia.ca/ginacody/computer-science-software-eng.html">
        <h1 class="text-white md:text-2xl lg:text-xl xl:text-2xl hover:text-gray-300 font-bold select-none  animate-fade-down animate-duration-[1000ms]">Department of Computer Science and Software Engineering (CSSE)</h1>
        </a>    
</div>
<div class="flex flex-col justify-center items-center text-center">
    <a class="transition transform duration-150 hover:scale-101.5 pointer-events-auto" href="https://www.concordia.ca/ginacody.html">
        <h1 class="text-white md:text-2xl lg:text-xl xl:text-2xl hover:text-gray-300 font-bold select-none   animate-fade-down animate-duration-[1000ms]">Gina Cody School of Engineering and Computer Science
            Concordia University
            </h1>
        </a> 
</div>
<div class="flex flex-col justify-center items-center text-center">
    <a class="transition transform duration-150 hover:scale-101.5 pointer-events-auto"  href="https://www.google.com/maps/place/Concordia+University+Department+of+Computer+Science+and+Software+Engineering/@45.4964196,-73.5799907,15z/data=!4m6!3m5!1s0x4cc91b09f48e4689:0x69537a59a2bba769!8m2!3d45.4964196!4d-73.5799907!16s%2Fg%2F11rcl0fnv2?entry=ttu">
        <h1 class="text-white md:text-2xl lg:text-xl xl:text-2xl  hover:text-gray-300 font-bold select-none  animate-fade-down animate-duration-[1000ms]">2155 Guy St, Montreal, Quebec H3H 2L9</h1>
        </a>  
</div>
{{end}}


<div>
<p class="text-white md:text-2xl lg:text-xl 2xl:text-xl font-bold">Copyright {{ now.Year }}. All rights reserved.</p>
</div>
<div class="bg-atlas h-8"></div>