{{ $path := "../" }}

<div class="parallax-container overflow-hidden h-full mt-1">

    <a href="{{.Params.link}}" class="flex flex-col rounded-lg items-center bg-white border border-gray-200 outline h-[225px] w-full outline-atlas shadow md:flex-row md:max-w-xl dark:border-gray-700 bg-white">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="{{$path}}/{{ .Params.photo}}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal h-full dark:bg-gray-800 dark:hover:bg-gray-700">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{.Params.name}}</h5>
            <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">{{.Params.publisher}}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-white">{{.Params.authors}}</p>

        


           
            

        </div>
        
    </a>
    <div class="buttons-bottom-right flex space-x-3 absolute right-1 bottom-1">
    {{if .Params.github}}
    <a href="{{.Params.github}}"class=" hover:shadow-2xl hover:opacity-60">
 <!-- Github -->
    <img class= "h-6 w-6" src="{{$path}}/github-mark-white.png">
    </a>
    {{end}}
    {{if .Params.arxiv}}
     <!-- Arxiv -->
    <a href="{{.Params.arxiv}}"class= "hover:shadow-2xl hover:opacity-60">
      
            <img class= "h-7 w-6" src="{{$path}}/arxiv-logomark-small@2x.png">



    </a>
    {{end}}
    </div>
    
  </div>