<!DOCTYPE html>
<html class = "scroll-smooth" lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }} ">
<script>
  
  document.documentElement.classList.toggle('dark');
</script>
<head>
  <link rel="stylesheet" href="/main.css">
  {{ partial "head.html" . }}
</head>
<body class="bg-atlas {{ if .IsHome }}overflow-hidden{{ end }}">

  <header class="relative z-30">
    {{ partial "header.html" . }}
  </header>
  <main class="relative z-30">
   
    <div id="canvas-container" class="absolute inset-0 flex justify-center items-center z-100" >
</div>
  


    
    {{ block "main" . }}{{ end }}
    <footer class="fixed bottom-0 left-0">
      {{ partial "footer.html" . }}
      {{ partial "script-footer.html" . }}
    </footer>
  </main>


</body>

{{ if not .IsHome }}
<div id="canvas-container" class="fixed inset-0 bg-atlas opacity-50 flex justify-center items-center z-20 pointer-events-none" >
  <script src="/bundle.js"></script>
</div>
{{ end }}
{{ if .IsHome }}
<div id="canvas-container" class="fixed flex justify-center items-center z-100 pointer-events-auto" >
  <script src="/bundle.js"></script>
</div>
{{ end }}

</html>
