.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
.menu li {
    list-style: none;
    display: inline-block;
  }