body {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

.content {
  position: relative;
  z-index: 1;
}
.menu-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #00e;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


.menu-button:hover {
  background-color: #0057e7;
}


