{{define "main"}}
<h1 class="text-6xl font-semibold text-white text-center animate-fade animate-duration-[1500ms]">Contact</h1>
<h2 class="text-3xl font-semibold text-white text-center animate-fade animate-duration-[1500ms] mt-32">Director</h2>
<h2 class="text-2xl font-semibold text-white text-center animate-fade animate-duration-[1500ms] mt-5">Address:</h2>
<a href= "https://www.concordia.ca/maps/sgw-campus.html?building=ER">
<h2 class="text-xl font-semibold text-white hover:text-gray-300 text-center animate-fade animate-duration-[1500ms]">2155 Guy St, Montreal, Quebec H3H 2L9 Rm. 995</h2>
</a>
<h2 class="text-2xl font-semibold text-white text-center animate-fade animate-duration-[1500ms] mt-5">Email:</h2>
<a href= "mailto: mahdi.hosseini@concordia.ca">
<h2 class="text-xl font-semibold text-white hover:text-gray-300 text-center animate-fade animate-duration-[1500ms] ">mahdi.hosseini@concordia.ca</h2>
</a>
<h2 class="text-2xl font-semibold text-white text-center animate-fade animate-duration-[1500ms] mt-5">Phone:</h2>
<a href="tel:+15148482424">
<h2 class="text-xl font-semibold text-white hover:text-gray-300 text-center animate-fade animate-duration-[1500ms]">(514) 848-2424 ext. 8736</h2>
</a>
{{end}}