{{define "main"}}

<h1 class="text-6xl font-semibold text-white text-center animate-fade animate-duration-[1500ms] mt-10">Join Us</h1>
<h2 class="text-4xl font-semibold text-white animate-fade animate-duration-[1500ms] mt-10 lg: mx-96">Open Positions</h2>
<div class="flex justify-center">
    {{ $pages := where .Site.Pages "Type" "positions" }}
    {{ range $page := $pages.ByDate.Reverse }}
        {{ if .File }}
            <div style="pointer-events: auto;">
                {{ partial "position_card.html" . }}
            </div>
     
        {{ end }}
    {{ end }}

</div>


{{end}}