
{{ define "main" }}

    
<main class="flex flex-col justify-center items-center h-screen  z-40 pointer-events-none">
    <div id="sphere-container" class="z-100"></div>
    
    <div class="absolute top-2/5 left-1/2 w-full transform -translate-x-1/2 -translate-y-1/2 pointer-events-none ml-2">
        <h1 class="text-white text-center  md:text-5xl lg:text-4xl 2xl:text-6xl font-bold select-none animate-fade-down animate-duration-[1000ms] pointer-events-none">Stay Tuned Coming Soon!</h1>
    </div>




    </div>
</main>
{{ end }}