{{define "main" }}
{{ $path := "../" }}
<meta name="description" content="{{ .Site.Params.description }}">
<div class="flex flex-col justify-start items-center animate-fade animate-duration-[1500ms] ">
    <h1 class="text-6xl font-semibold text-white text-center animate-fade animate-duration-[1500ms] mt-10 mb-8">Projects</h1>
</div>
<div class="flex flex-col items-center relative z-200 mb-4 mx-8 lg:mx-0">
    <div class="flex flex-col lg:text-left text-center w-full lg:w-4/5 2xl:w-4/5">
        <p class="text-2xl  lg:text-1.5xl 2xl:text-2xl font-semibold text-white col-span-full"> Atlas Analytics Lab is currently addressing multiple projects in the field of deep learning and computational pathology

        </p>
    </div>
</div>
<div class="flex flex-col justify-start items-center animate-fade animate-duration-[1500ms] mx-8 lg:mx-0">
    {{ $pages := where .Site.Pages "Type" "projects" }}
    {{ range $index, $page := $pages.ByDate.Reverse }}
        {{ if .File }}
            <div class="w-full lg:w-4/5 2xl:w-4/5" id="card-{{ $index }}">
                {{ partial "projects_card.html" . }}
            </div>
        {{ end }}
    {{ end }}
</div>
{{end}}