{{define "main" }}

<div class="parallax-container flex flex-col justify-start items-center animate-fade animate-duration-[1500ms] ">
    <h1 class="text-6xl font-semibold text-white text-center animate-fade animate-duration-[1500ms] mt-10 mb-10">Publications</h1>
    {{ $pages := where .Site.Pages "Type" "publications" }}
    {{ range $index, $page := $pages.ByDate.Reverse }}
        {{ if .File }}
            <div class="scale-100 w-2/3" id="card-{{ $index }}" style="pointer-events: auto;">
                {{ partial "publication_card.html" . }}
            </div>
     
        {{ end }}
    {{ end }}
    

</div>



{{end}}