{{define "main" }}
{{ $path := "../" }}
<div class="parallax-container flex flex-col justify-start items-center animate-fade animate-duration-[1500ms] ">
    <h1 class="text-6xl font-semibold text-white text-center animate-fade animate-duration-[1500ms] mt-10 mb-8">Publications</h1>
</div>
<div class="flex flex-col items-center">
    <div class="flex flex-col text-left md:w-3/5 lg:w-3/5 2xl:w-1/2">
        <p class="md:text-2xl lg:text-1.5xl 2xl:text-2xl font-semibold text-white col-span-full">To view all publications, visit Dr. Hosseini's <a href="https://scholar.google.ca/citations?user=SO-FFrgAAAAJ&hl=en" class="hover:text-blue-400 text-blue-500">Google Scholar</a> </p>
    </div>
</div>
<div class="parallax-container flex flex-col justify-start items-center animate-fade animate-duration-[1500ms] ">
    {{ $pages := where .Site.Pages "Type" "publications" }}
    {{ range $index, $page := $pages.ByDate.Reverse }}
        {{ if .File }}
            <div class="scale-100 md:w-3/5 lg:w-3/5 2xl:w-1/2" id="card-{{ $index }}">
                {{ partial "publication_card.html" . }}
            </div>
        {{ end }}
    {{ end }}
</div>
{{end}}